<style>
        .profile-avatar-container {
            position: relative;
            width: 100px;
        }
    
        .profile-avatar-container .profile-user-img {
            width: 100px;
            height: 100px;
        }
    
        .profile-avatar-container .profile-avatar-text {
            display: none;
        }
    
        .profile-avatar-container:hover .profile-avatar-text {
            display: block;
            position: absolute;
            height: 100px;
            width: 100px;
            background: #444;
            opacity: .6;
            color: #fff;
            top: 0;
            left: 0;
            line-height: 100px;
            text-align: center;
        }
    
        .profile-avatar-container button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            opacity: 0;
        }
    </style>
    <div id="content-container" class="container">
        <div class="row">
            <div class="col-md-3">
                {include file="common/sidenav" /}
            </div>
            <div class="col-md-9">
                    <div class="panel panel-default panel-recharge">
                        <div class="panel-body">
                            <h2 class="page-header">交易记录                        <span>
<small class="text-danger">余额:{$user_money}</small>
</span>
                                <!-- <a href="/index/recharge/recharge.html" class="btn btn-info btn-recharge pull-right">
<i class="fa fa-cny">
</i> 充值余额</a> -->
                            </h2>
                            <div class="row">
                                {foreach name="server_list" item="v"}
                                                  <div class="col-xs-6 col-md-2" style="text-align:right">{$v.name} : </div>
                              <div class="col-xs-6 col-md-1" style="text-align:left">{$v.user_number}</div>
                              {/foreach}
                            <hr>
                            
                              <div class="bootstrap-table">
<div class="commonsearch-table hidden">
<form class="form-horizontal form-commonsearch nice-validator n-default n-bootstrap" novalidate="" method="post" action="">
<fieldset>
<div class="row">
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="money" class="control-label col-xs-4">变更点数</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="money-operate" data-name="money" value="BETWEEN" readonly="">
<div class="row row-between">
<div class="col-xs-6">
<input type="text" class="form-control" name="money" value="" placeholder="变更点数" id="money" data-index="0">
</div>
<div class="col-xs-6">
<input type="text" class="form-control" name="money" value="" placeholder="变更点数" id="money" data-index="0">
</div>
</div>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="before" class="control-label col-xs-4">变更前点数</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="before-operate" data-name="before" value="BETWEEN" readonly="">
<div class="row row-between">
<div class="col-xs-6">
<input type="text" class="form-control" name="before" value="" placeholder="变更前点数" id="before" data-index="1">
</div>
<div class="col-xs-6">
<input type="text" class="form-control" name="before" value="" placeholder="变更前点数" id="before" data-index="1">
</div>
</div>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="after" class="control-label col-xs-4">变更后点数</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="after-operate" data-name="after" value="BETWEEN" readonly="">
<div class="row row-between">
<div class="col-xs-6">
<input type="text" class="form-control" name="after" value="" placeholder="变更后点数" id="after" data-index="2">
</div>
<div class="col-xs-6">
<input type="text" class="form-control" name="after" value="" placeholder="变更后点数" id="after" data-index="2">
</div>
</div>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="memo" class="control-label col-xs-4">备注</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="memo-operate" data-name="memo" value="LIKE" readonly="">
<input type="text" class="form-control" name="memo" value="" placeholder="备注" id="memo" data-index="3">
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="codeoperate" class="control-label col-xs-4">积分操作</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="codeoperate-operate" data-name="codeoperate" value="=" readonly="">
<select class="form-control" name="codeoperate">
<option value="">选择</option>
<option value="codechange">兑换</option>
<option value="transfer">转账</option>
<option value="consume">消费</option>
<option value="income">收入</option>
<option value="log">记录</option>
</select>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="state" class="control-label col-xs-4">状态</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="state-operate" data-name="state" value="=" readonly="">
<select class="form-control" name="state">
<option value="">选择</option>
<option value="0">减少</option>
<option value="1">增加</option>
<option value="2">不变</option>
</select>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="codetype" class="control-label col-xs-4">积分类型</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="codetype-operate" data-name="codetype" value="=" readonly="">
<select class="form-control" name="codetype">
<option value="">选择</option>
<option value="0">其他</option>
<option value="1">序列号</option>
<option value="2">脚本1</option>
<option value="3">(b服务器)动态</option>
<option value="4">(b服务器)静态</option>
<option value="5">(e服务器)动态</option>
<option value="6">VPN静态DT</option>
<option value="7">占坑3</option>
<option value="8">梦想</option>
<option value="9">理想</option>
<option value="10">占坑</option>
</select>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="receipt" class="control-label col-xs-4">回执</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="receipt-operate" data-name="receipt" value="=" readonly="">
<select class="form-control" name="receipt">
<option value="">选择</option>
<option value="1">发送</option>
<option value="2">成功</option>
<option value="3">失败</option>
<option value="4">未知</option>
</select>
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="receiptlog" class="control-label col-xs-4">失败原因</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="receiptlog-operate" data-name="receiptlog" value="LIKE" readonly="">
<input type="text" class="form-control" name="receiptlog" value="" placeholder="失败原因" id="receiptlog" data-index="8">
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<label for="createtime" class="control-label col-xs-4">创建时间</label>
<div class="col-xs-8">
<input type="hidden" class="form-control operate" name="createtime-operate" data-name="createtime" value="RANGE" readonly="">
<input type="text" class="form-control datetimerange" name="createtime" value="" placeholder="创建时间" id="createtime" data-index="9">
</div>
</div>
<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="col-sm-8 col-xs-offset-4">
<button type="submit" class="btn btn-success" formnovalidate="">提交</button> <button type="reset" class="btn btn-default">重置</button> </div>
</div>
</div>
</fieldset>
</form>
</div>
<div class="fixed-table-toolbar">
<div class="bs-bars pull-left">
<div id="toolbar" class="toolbar">
                            
                              </div>
</div>
</div>
<div class="fixed-table-container" style="padding-bottom: 0px;">
<div class="fixed-table-header" style="display: none;">
<table>
</table>
</div>
<div class="fixed-table-body">
<div class="fixed-table-loading" style="top: 42px; display: none;">正在努力地加载数据中，请稍候……</div>
<table id="table" class="table table-striped table-bordered table-hover table-nowrap" width="100%" data-show-columns="true">
                              <thead>
<tr>
<th style="text-align: center; vertical-align: middle; " data-field="money">
<div class="th-inner ">变更点数</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="before">
<div class="th-inner ">变更前点数</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="after">
<div class="th-inner ">变更后点数</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="memo">
<div class="th-inner ">备注</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="codeoperate">
<div class="th-inner ">积分操作</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="state">
<div class="th-inner ">状态</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="codetype">
<div class="th-inner ">积分类型</div>
<div class="fht-cell">
</div>
</th>
<th style="text-align: center; vertical-align: middle; " data-field="createtime">
<div class="th-inner ">创建时间</div>
<div class="fht-cell">
</div>
</th>
</tr>
</thead>
<tbody data-listidx="0">
    {foreach name="logger" item="v"}
<tr data-index="0"> 
<td style="text-align: center; vertical-align: middle; ">{$v.update_number}</td>
<td style="text-align: center; vertical-align: middle; ">{$v.before_number}</td>
<td style="text-align: center; vertical-align: middle; ">{$v.after_number}</td>
<td style="text-align: center; vertical-align: middle; ">{$v.remarks}</td> <td style="text-align: center; vertical-align: middle; ">
<a href="javascript:;" class="searchit" data-toggle="tooltip"  data-field="codeoperate" data-value="consume">
<span class="{ $v.manage == '消费'?echo 'text-danger'?echo 'text-primary';}">{$v.manage}</span>
</a>
</td> <td style="text-align: center; vertical-align: middle; ">
<a href="javascript:;" class="searchit" data-toggle="tooltip"  data-field="state" data-value="0">
<span class="{ $v.manage == '减少'?echo 'text-primary'?echo 'text-success';}">{$v.state}</span>
</a>
</td> <td style="text-align: center; vertical-align: middle; ">
<a href="javascript:;" class="searchit" data-toggle="tooltip"  data-field="codetype" data-value="5">
<span class="text-gray">{$v.amount_name}</span>
</a>
</td><td style="text-align: center; vertical-align: middle; ">{$v.c_time}</td> </tr>
{/foreach}
<tr data-index="1"> <td style="text-align: center; vertical-align: middle; ">130</td> <td style="text-align: center; vertical-align: middle; ">0</td> <td style="text-align: center; vertical-align: middle; ">130</td> <td style="text-align: center; vertical-align: middle; ">兑换(e服务器)动态: 130 花费:65 余额:2.52</td> <td style="text-align: center; vertical-align: middle; ">
<a href="javascript:;" class="searchit" data-toggle="tooltip"  data-field="codeoperate" data-value="codechange">
<span class="text-primary">兑换</span>
</a>
</td> <td style="text-align: center; vertical-align: middle; ">
<a href="javascript:;" class="searchit" data-toggle="tooltip"  data-field="state" data-value="1">
<span class="text-success">增加</span>
</a>
</td> <td style="text-align: center; vertical-align: middle; ">
<a href="javascript:;" class="searchit" data-toggle="tooltip"  data-field="codetype" data-value="5">
<span class="text-gray">(e服务器)动态</span>
</a>
</td> <td style="text-align: center; vertical-align: middle; ">2019-08-07 19:41:50</td> </tr>
</tbody>
</table>
</div>
<div class="fixed-table-footer" style="display: none;">
<table>
<tbody>
<tr>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="clearfix">
</div>
                          </div>
                        </div>
                    </div>
        </div>
    </div>
    
    <script type="text/html" id="emailtpl">
        <form id="email-form" class="form-horizontal form-layer" method="POST" action="{:url('api/user/changeemail')}">
            <div class="form-body">
                <input type="hidden" name="action" value="changeemail" />
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">{:__('New Email')}:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="email" name="email" value="" data-rule="required;email;remote({:url('api/validate/check_email_available')}, event=changeemail, id={$user.id})" placeholder="{:__('New email')}">
                        <span class="msg-box">
</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="captcha" id="email-captcha" class="form-control" data-rule="required;length(4);integer[+];remote({:url('api/validate/check_ems_correct')}, event=changeemail, email:#email)" />
                            <span class="input-group-btn" style="padding:0;border:none;">
                                <a href="javascript:;" class="btn btn-info btn-captcha" data-url="{:url('api/ems/send')}" data-type="email" data-event="changeemail">获取验证码</a>
                            </span>
                        </div>
                        <span class="msg-box">
</span>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group" style="margin-bottom:0;">
                    <label class="control-label col-xs-12 col-sm-3">
</label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-md btn-info">{:__('Submit')}</button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <script type="text/html" id="mobiletpl">
        <form id="mobile-form" class="form-horizontal form-layer" method="POST" action="{:url('api/user/changemobile')}">
            <div class="form-body">
                <input type="hidden" name="action" value="changemobile" />
                <div class="form-group">
                    <label for="c-mobile" class="control-label col-xs-12 col-sm-3">{:__('New mobile')}:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="mobile" name="mobile" value="" data-rule="required;mobile;remote({:url('api/validate/check_mobile_available')}, event=changemobile, id={$user.id})" placeholder="{:__('New mobile')}">
                        <span class="msg-box">
</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile-captcha" class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                    <div class="col-xs-12 col-sm-8">
                        <div class="input-group">
                            <input type="text" name="captcha" id="mobile-captcha" class="form-control" data-rule="required;length(4);integer[+];remote({:url('api/validate/check_sms_correct')}, event=changemobile, mobile:#mobile)" />
                            <span class="input-group-btn" style="padding:0;border:none;">
                                <a href="javascript:;" class="btn btn-info btn-captcha" data-url="{:url('api/sms/send')}" data-type="mobile" data-event="changemobile">获取验证码</a>
                            </span>
                        </div>
                        <span class="msg-box">
</span>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="form-group" style="margin-bottom:0;">
                    <label class="control-label col-xs-12 col-sm-3">
</label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-md btn-info">{:__('Submit')}</button>
                    </div>
                </div>
            </div>
        </form>
    </script>
    <style>
        .form-layer {
            height: 100%;
            min-height: 150px;
            min-width: 300px;
        }
    
        .form-body {
            width: 100%;
            overflow: auto;
            top: 0;
            position: absolute;
            z-index: 10;
            bottom: 50px;
            padding: 15px;
        }
    
        .form-layer .form-footer {
            height: 50px;
            line-height: 50px;
            background-color: #ecf0f1;
            width: 100%;
            position: absolute;
            z-index: 200;
            bottom: 0;
            margin: 0;
        }
    
        .form-footer .form-group {
            margin-left: 0;
            margin-right: 0;
        }
    </style>